<div class="skills">
    <h1 class="title">Skills</h1>
    <div class="cards">
        <app-card 
            class="frontend"
            [title]="'Frontend'"
            [skills]="frontendSkills"
        >
        </app-card>
        <app-card 
            class="backend"
            [title]="'Backend'"
            [skills]="backendSkills"
        >
        </app-card>
        <app-card 
            class="miscellaneus"
            [title]="'Miscellaneus'"
            [skills]="miscellaneousSkills"
        >
        </app-card>
    </div>
</div>