@import '../utilities/variables';

.skills {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    .title {
        color: $text-light;
        text-align: center;
        font-size: 48px;
    }

    .cards {
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        margin: 5em;
        align-items: center;
    }
}