<div class="skills">
    <h1 class="title">Skills</h1>
    <div class="cards">
        <div #frontend>
            <app-card 
                class="frontend card"
                [title]="'Frontend'"
                [skills]="frontendSkills"
                [ngClass]="this.scroll.findElementAndCheckVisibility('frontend', name)"
            >
            </app-card>
        </div>
        <div #backend>
            <app-card 
                class="backend card"
                [title]="'Backend'"
                [skills]="backendSkills"
                [ngClass]="this.scroll.findElementAndCheckVisibility('backend', name)"
            >
            </app-card>
        </div>
        <div #miscellaneous>
            <app-card 
                class="miscellaneous card"
                [title]="'Miscellaneous'"
                [skills]="miscellaneousSkills"
                [ngClass]="this.scroll.findElementAndCheckVisibility('miscellaneous', name)"
            >
            </app-card>
        </div>
    </div>
</div>