@import '../../utilities/variables';

.skills {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    .title {
        color: $text-light;
        text-align: center;
        font-size: 48px;
    }

    .cards {
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        margin: 5em;
        align-items: center;

        .card {
            opacity: 0;
        }

        @for $i from 0 to 4 {
            div:nth-child(#{$i}) {
                .card.visible{
                    animation: visible 1s ease-in-out (calc($i/10) + 0s) 1 forwards;
                }
            }
        }
    }
}

                    
@keyframes visible {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}