<div class="home">
    
    <!-- !Temporary -->
    <div class="image">
        <div class="bubble name">
            <i class="fa-solid fa-comment"></i>
            <h1>
                Hello! 
                <br> My name is <br>
                <span>Robert</span>
            </h1>
        </div>
        <img src="/assets/img/Avatar.png">
        <div class="bubble profession">
            <i class="fa-solid fa-comment"></i>
            <h1>
                I'm a web 
                <br> developer
            </h1>
        </div>
    </div>
    <div class="scroll">
        <p>Scroll down</p>
        <i class="fa-solid fa-angle-down"></i>
    </div>
</div>