@import '../../utilities/variables';
.home {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .image {
        flex: 1;
       display: flex;
       flex-direction: row;
       justify-content: space-around;
    
       .bubble {
           display: flex;
           align-items: center;
           height: 120px;
           position: relative;
           
           i {
               font-size: 250px;
           }
           h1 {
               color: $text-dark;
               position: absolute;
               text-align: center;
               left: 1.2em;
               width: 175px;
           }
       }
       
       .name {
            margin-top: 9em;
           i {
               color: $text-light;
               transform: scale(-1, 1);
               opacity: 0;
               animation: show 2s ease-out forwards;
           }
           h1 {
               top: 0;
               opacity: 0;
               animation: text 0.5s 0.5s ease-out forwards; 
               span {
                   background: linear-gradient(to right, #8C9FC5, #343F55);
                   background-clip: text;
                   -webkit-text-fill-color: transparent;
               }
           }
       }
       
       .profession {
        margin-top: 15em;
           i {
               color: $primary;
               opacity: 0;
               animation: show 2s 1s ease-out forwards;
           }
           h1 {
               top: 0.5em;
               opacity: 0;
                transform: translateY(-20px);
               animation: text 0.5s 1.5s ease-out forwards;
           }
       }

       @keyframes text {
        from {
            transform: translateY(-10px);
            opacity: 0%;
        } 
        to {
            transform: translate(0px);
            opacity: 100%;
        }
       }
    
       img {
            position: absolute;
            z-index: 0;
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            object-fit: none;
            object-position: center -30%;
       }
    }

    .scroll {
        color: $accent;
        font-weight: bold;
        z-index: 1;
        text-align: center;
        flex: 0;
        opacity: 0;
        animation: show 2s 1.5s ease-out forwards;
    }

    .fa-angle-down {
        animation: hover 1.5s ease-in-out infinite alternate-reverse;
    }

    @keyframes hover {
        from { transform: translateY(0px); }
        to { transform: translateY(-5px); }
    }

    .scroll-hidden {
        animation: hide 0.5s ease-in-out forwards;
    }

    @keyframes hide {
        from { opacity: 100%; }
        to { opacity: 0%; }
    }

    .scroll-shown {
        animation: show 0.5s ease-in-out forwards;
    }

    @keyframes show {
        from { opacity: 0%; }
        to { opacity: 100%; }
    }
}
