<div class="projects">
    <h2>Porjects</h2>

    <div class="panels">
        <div class="slider">
            <div class="scroll">
                <app-panel class="project"></app-panel>
                <app-panel class="project"></app-panel>
                <app-panel class="project"></app-panel>
                <app-panel class="project"></app-panel>
                <app-panel class="project"></app-panel>
            </div>
            <div class="scroll">
                <app-panel class="project"></app-panel>
                <app-panel class="project"></app-panel>
                <app-panel class="project"></app-panel>
                <app-panel class="project"></app-panel>
                <app-panel class="project"></app-panel>
            </div>
        </div>
    </div>
</div>
