<div class="projects">
    <h2>Porjects</h2>

    <div class="panels">
        <div class="slider">
            <div 
                *ngFor="let i of [0, 1]"
                class="scroll"
            >
                <div *ngFor="let project of projects">
                    <app-panel 
                        [project]="project"
                        class="project"
                    >
                    </app-panel>
                </div>
            </div>        
        </div>
    </div>
</div>
