<div class="contact">
    <h2 class="title">Contact</h2>

    <div>
        <form 
            class="contact-form"
        >
            <div class="input">
                <p class="input-name">Name</p>
                <input class="input-field">
            </div>
            <div class="input">
                <p class="input-name">Surname</p>
                <input class="input-field">
            </div>
            <div class="input">
                <p class="input-name">Email</p>
                <input class="input-field">
            </div>
            <div class="input">
                <p #submit class="input-name">Message</p>
                <textarea class="input-field textarea"></textarea>
            </div>
            <button class="submit">Submit</button>
        </form>
    </div>
</div>