<div class="navigation">
    <div class="title">
        <h2>
            Portofolio
        </h2>
    </div>
    <div class="links">
        <a 
            title="Home"
            (click)="onClickHome($event)"
            [ngClass]="homeClass()"
        >
            Home
        </a>
        <a 
            title="About"
            (click)="onClickAbout($event)"
            [ngClass]="this.scrollService.findElementAndCheckVisibility('about', 'page')"
        >
            About
        </a>
        <a 
            title="Skills"
            (click)="onClickSkills($event)"
            [ngClass]="this.scrollService.findElementAndCheckVisibility('skills', 'page')"
        >
            Skills
        </a>
        <a 
            title="Projects"
            (click)="onClickProjects($event)"
            [ngClass]="this.scrollService.findElementAndCheckVisibility('projects', 'page')"
        >
            Projects
        </a>
        <a 
            title="Contact"
            (click)="onClickContact($event)"
            [ngClass]="this.scrollService.findElementAndCheckVisibility('contact', 'page')"
        >
            Contact
        </a>
    </div>
</div>