<div class="content">
  <app-navigation-bar 
    [ngClass]="
      hidden ? 
      'nav-hidden' : 
      'nav-shown'"
    (scrollHome)="scrollIntoView(home)"
    (scrollAbout)="scrollIntoView(about)"
    (scrollSkills)="scrollIntoView(skills)"
    (scrollProjects)="scrollIntoView(projects)"
    (scrollContact)="scrollIntoView(contact)"
  > 
  </app-navigation-bar>

  <div class="page">
    <div #home>
      <app-home 
        id="home" 
        [scroll]="scroll"
      >
      </app-home>
    </div>

    <div #about>
      <app-about></app-about>
    </div>

    <div #skills>
      <app-skills></app-skills>
    </div>

    <div #projects>
      <app-projects></app-projects>
    </div>

    <div #contact>
      <app-contact></app-contact>
    </div>

    <app-footer></app-footer>
  </div>
</div>
