<div class="about">
    <div class="about-card">
        <div class="title">
            <h1>About me</h1>
            <img
                #img
                src="/assets/img/me.jpg"
                [ngClass]="findElementAndCheckVisibility('img')"
            >
        </div>
        
        <div class="about-me">
            <div class="description">
                <p #aboutMe class="text">
                </p>
            </div>
    
            <div 
                #education
                class="education"
            >
                <h4>Education</h4>

                <div>
                    <div class="edu">
                        <div 
                            class="timeframe"
                            [ngClass]="findElementAndCheckVisibility('education')"
                        >
                            <p>10/2021 - 07/2024</p>
                        </div>
                        <p class="degree">
                            <span 
                                class="name"
                                [ngClass]="findElementAndCheckVisibility('education')"
                            >
                                Bachelor's degree
                            </span>
                            <span
                                class="separator"
                                [ngClass]="findElementAndCheckVisibility('education')"
                            >
                                - 
                            </span>
                            <span 
                                class="specialization"
                                [ngClass]="findElementAndCheckVisibility('education')"
                            >
                                Computer Science for Economics
                            </span>
                        </p>
                        <p 
                            class="school"
                            [ngClass]="findElementAndCheckVisibility('education')"
                        >
                            Romanian American University 
                        </p>
                    </div>
                    <div class="edu">
                        <div 
                            class="timeframe"
                            [ngClass]="findElementAndCheckVisibility('education')"
                        >
                            <p>09/2016 - 05/2020</p>
                        </div>
                        <p class="degree">
                            <span 
                                class="name"
                                [ngClass]="findElementAndCheckVisibility('education')"
                            >
                                High School diploma
                            </span> 
                            <span
                                class="separator"
                                [ngClass]="findElementAndCheckVisibility('education')"
                            >
                                - 
                            </span>
                            <span 
                                class="specialization"
                                [ngClass]="findElementAndCheckVisibility('education')"    
                            >
                                Mathematics and Computer Science
                            </span>
                        </p>
                        <p 
                            class="school"
                            [ngClass]="findElementAndCheckVisibility('education')"
                        >
                            Stefan Procopiu High School
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="experience"
                #experience
            >
                <h4>Experience</h4>
                <div class="exp">
                    <div 
                        class="timeframe"
                        [ngClass]="findElementAndCheckVisibility('experience')"
                    >
                        <p>06/2023 - 09/2023 </p>
                    </div>
                    <p class="work">
                        <span 
                            class="job"
                            [ngClass]="findElementAndCheckVisibility('experience')"
                        >
                            Frontend Developer Inter
                        </span> 
                        <span 
                            class="separator"
                            [ngClass]="findElementAndCheckVisibility('experience')"
                        >
                            - 
                        </span>
                        <span 
                            class="company"
                            [ngClass]="findElementAndCheckVisibility('experience')"
                        >
                            Infosys
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>