@import '../utilities/variables';
.about {
    min-height: 100vh;
}
.about-card {
    color: $text-light;
    background: rgba($accent, 0.3);
    backdrop-filter: blur(4);
    border-radius: 10px;
    box-shadow: 
    0px 10px 10px 0px 
    rgba(black, 0.25);
    margin: 5em;
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .title {
        margin: 0 5em;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 20%;
        h1 {
            text-align: center;
            font-size: 48px;
            width: 250px;
        }
        
        img {
            width: 200px;
            border-radius: 100px;
            margin: 1.5em;
            opacity: 0;
        }
        img.visible {
            animation: img-visible 1s ease-in-out 0s 1 forwards;
        }
        
        @keyframes img-visible {
            from {
                opacity: 0%;
                transform: translateY(-30px);
            }
            to {
                opacity: 100%;
                transform: translateY(0px);
            }
        }
    }

    .about-me {
        width: 80%;

        .description, .education, .experience {
            background: rgba($primary, 0.1);
            border-radius: 10px;
            padding: 1.5em;
            margin: 1.5em 0;
            font-size: 20px;
        }
        
        .description {
            margin-top: 0;
            flex-grow: 1000px;

            .text {
                width: 100%;
            }
        }

        .education {
            h4 {
                margin-bottom: 1.5em;
            }
            .edu {
                margin: 1.5em 0;
            }

            @for $i from 1 to 3 {
                .edu:nth-child(#{$i}) {
                    .timeframe {
                        opacity: 0;
                    }
                    .timeframe.not-visible {
                        display: none;
                    }
                    .timeframe.visible {
                        animation: timeframe-visible 1s ease-in-out ($i + 1s) 1 forwards;
                    }

                    .name {
                        font-weight: bold;
                        opacity: 0;
                    }
                    .name.not-visible {
                        display: none;
                    }
                    .name.visible {
                        animation: visible 1s ease-in-out ($i + 1.2s) 1 forwards;
                    }
    
                    .separator {
                        font-weight: bold;
                        opacity: 0;
                    }
                    .separator.not-visible {
                        display: none;
                    }
                    .separator.visible {
                        animation: visible 1s ease-in-out ($i + 1.4s) 1 forwards;
                    }
    
                    
                    .specialization {
                        font-weight: bold;
                        color: $accent;
                        opacity: 0;
                    }
                    .specialization.not-visible {
                        display: none;
                    }
                    .specialization.visible {
                        animation: visible 1s ease-in-out ($i + 1.6s) 1 forwards;
                    }
    
                    .school {
                        opacity: 0;
                    }
                    .school.not-visible {
                        display: none;
                    }
                    .school.visible {
                        animation: visible 1s ease-in-out ($i + 1.8s) 1 forwards;
                    }
                }
            }

            .edu:last-child {
                margin: 0;
            }
        }

        .experience {
            margin-bottom: 0;
            h4 {
                margin-bottom: 1.5em;
            }

            .exp {
                margin: 1.5em 0;
            }
            
            @for $i from 1 to 3 {
                .exp:nth-child(#{$i}) {
                    .timeframe {
                        opacity: 0;
                    }       
                    .timeframe.not-visible {
                        display: none;
                    }
                    .timeframe.visible {
                        animation: timeframe-visible 1s ease-in-out ($i + 1s) 1 forwards;
                    }

                    .job {
                        font-weight: bold;
                        opacity: 0;
                    }
                    .job.not-visible {
                        display: none;
                    }
                    .job.visible {
                        animation: visible 1s ease-in-out ($i + 1.2s) 1 forwards;
                    }

                    .separator {
                        font-weight: bold;
                        opacity: 0;
                    }
                    .separator.not-visible {
                        display: none;
                    }
                    .separator.visible {
                        animation: visible 1s ease-in-out ($i + 1.4s) 1 forwards;
                    }

                    .company {
                        font-weight: bold;
                        color: $accent;
                        opacity: 0;
                    }
                    .company.not-visible {
                        display: none;
                    }
                    .company.visible {
                        animation: visible 1s ease-in-out ($i + 1.6s) 1 forwards;
                    }
                }
            }
            .exp:last-child {
                margin: 0;
            }
        }
    }
}

                    
@keyframes timeframe-visible {
    from {
        opacity: 0%;
        display: none;
        transform: translateY(-10px);
    }
    to {
        opacity: 100%;
        display: inline-block;
        transform: translateY(0);
    }
}

@keyframes visible {
    from {
        opacity: 0%;
        display: none;
    }
    to {
        opacity: 100%;
        display: inline;
    }
}