<div class="footer">
    <div class="personal-info section">
        <h4 class="name">Ciobanu Robert-Vasilica</h4>
        <p class="email">ciobanurobert100&#64;gmail.com</p>
        <p>Bucharest, Romania</p>
    </div>
    <div class="links section">
        <h4>Links</h4>
        <a 
            href="https://www.linkedin.com/in/robert04/"
        >
            Linkedin
        </a>
        <a 
            href="https://github.com/ciobanu-robert"
        >
            Github
        </a>
    </div>
    <div class="cv section">
        <h4>Curriculum Vitae</h4>
        <a 
            href="/assets/cv/CV - Ciobanu Robert-Vasilică.pdf"
            download="Ciobanu Robert-Vasilică.pdf"
        >
            Download
        </a>
    </div>
</div>