<div class="panel">
    <div class="about">
        <div class="title">
            <h4>About this project</h4>
            <a 
                href="https://github.com/ciobanu-robert/CompareRGM"
                target="_blank"
            >
                View project
            </a>
        </div>
        <div class="description">
            <p>
                The Compare RGM platform offers companies the ability
                quickly and  efficiently compare products and services
                offered by competitors, giving them  the freedom to
                make informed decisions and identify the best options
                according  to their needs and preferences.
            </p>
        </div>
        <div class="chips">
            <app-chip [text]="'Angular'"></app-chip>
            <app-chip [text]="'Node.js'"></app-chip>
            <app-chip [text]="'MongoDB'"></app-chip>
        </div>
    </div>
    <div class="presentation">
        <img 
            class="video"
            src="/assets/img/compare-rgm.png"
        >
        <div class="title">
            <h4>Compare RGM</h4>
            <app-chip [text]="'02/2024 - 05/2024'"></app-chip>
        </div>
    </div>
</div>