<div class="panel">
    <div class="about">
        <div class="title">
            <h4>About this project</h4>
            <a 
                href={{project.link}}
                target="_blank"
            >
                View project
            </a>
        </div>
        <div class="description">
            <p>{{ project.description }}</p>
        </div>
        <div class="chips">
            <div *ngFor="let technologie of project.technologies">
                <app-chip [text]="technologie"></app-chip>
            </div>
        </div>
    </div>
    <div class="presentation">
        <img 
            class="video"
            src={{project.image}}
        >
        <div class="title">
            <h4>{{ project.name }}</h4>
            <app-chip [text]="project.date"></app-chip>
        </div>
    </div>
</div>